.blog-post-meta {
  display: flex;
  align-items: center;
  font-style: italic;
}

.author {
  border-radius: 50%;
  margin-right: 20px;
}

.blog-post .section-headline {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.blog-post a {
  color: red;
}

.blog-post {
  font-family: "IBM Plex Serif",ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
  font-size: 1.5rem;
}