.hero {
  position: relative;
  color: #000;
  text-align: center;
  box-sizing: border-box;
}

.hero {
  padding: 50px 0 50px 0;
}

.hero h2 {
  font-weight: normal;
}

.hero h1 {
  font-size: 4rem;
}

.hero h1, .hero h2 {
  font-family: inherit;
  margin: 0;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

